api.listening_addr = "127.0.0.1:5005"   # Address and port on which the API server will listen.
webui.listening_addr = "127.0.0.1:8080" # Address and port on which the webui will listen.

[log.console]
enabled = true

[[http_server]]
name = "webhook_server"
listening_addr = "0.0.0.0:9090"

[[activity_wasm]]
name = "activity_llm_openai"
location = "oci://docker.io/getobelisk/demo_stargazers_activity_llm_openai:2026-02-09@sha256:cc94191f539401a870c6beb57056d2ef1ebfa348991fcbeff88a1ec68a435f2d"
exec.lock_expiry.seconds = 10
env_vars = ["OPENAI_API_KEY", "OPENAI_API_BASE_URL"]

[[activity_wasm]]
name = "activity_github_impl"
location = "oci://docker.io/getobelisk/demo_stargazers_activity_github_impl:2026-02-09@sha256:607ff4ad8cfd4aaf5723c9d36a9da7bc083352827ed99b7180e2b876aba36a16"
env_vars = ["GITHUB_TOKEN"]
exec.lock_expiry.seconds = 5

[[activity_wasm]]
name = "activity_db_turso"
location = "oci://docker.io/getobelisk/demo_stargazers_activity_db_turso:2026-02-09@sha256:baa268e7d889f194662a2b8a602ecf34cb4471e210724665526cd82214d08067"
env_vars = ["TURSO_TOKEN", "TURSO_LOCATION"]
exec.lock_expiry.seconds = 5

[[workflow]]
name = "workflow"
location = "oci://docker.io/getobelisk/demo_stargazers_workflow:2026-02-09@sha256:77b83a654509916e5cab85b0b7ebaa8fabbf67acf3effe8795428a92aa53bbbe"
backtrace.sources = { "/home/runner/work/demo-stargazers/demo-stargazers/workflow/stargazers/workflow-rs/src/lib.rs" = "${OBELISK_TOML_DIR}/workflow/stargazers/workflow-rs/src/lib.rs" }

[[webhook_endpoint]]
name = "webhook"
location = "oci://docker.io/getobelisk/demo_stargazers_webhook:2026-02-09@sha256:acd0dba728c36f23d8a3c153ea03b31c848cdbd53222377eb8f73dbc40fb1575"
http_server = "webhook_server"
routes = [{ methods = ["POST", "GET"], route = "" }]
env_vars = [
    "GITHUB_WEBHOOK_SECRET",
    # "GITHUB_WEBHOOK_INSECURE=true" # to disable signature verification
]
backtrace.sources = { "/home/runner/work/demo-stargazers/demo-stargazers/webhook/webhook-rs/src/lib.rs" = "${OBELISK_TOML_DIR}/webhook/webhook-rs/src/lib.rs" }
