api.listening_addr = "127.0.0.1:5005"   # Address and port on which the API server will listen.
webui.listening_addr = "127.0.0.1:8080" # Address and port on which the webui will listen.

[log.console]
enabled = true

[[activity_wasm]]
name = "openai_js"
location = "${OBELISK_TOML_DIR}/activity/llm/openai-js/dist/openai-js.wasm"
exec.lock_expiry.seconds = 10
env_vars = ["OPENAI_API_KEY", "OPENAI_API_BASE_URL"]

[[activity_wasm]]
name = "activity_github_impl"
location = "${OBELISK_TOML_DIR}/target/wasm32-wasip2/release/activity_github_impl.wasm"
env_vars = ["GITHUB_TOKEN"]
exec.lock_expiry.seconds = 5

[[activity_wasm]]
name = "activity_db_turso"
location = "${OBELISK_TOML_DIR}/target/wasm32-wasip2/release/activity_db_turso.wasm"
env_vars = ["TURSO_TOKEN", "TURSO_LOCATION"]
exec.lock_expiry.seconds = 5

[[workflow]]
name = "workflow_js"
location = "${OBELISK_TOML_DIR}/workflow/stargazers/workflow-js/dist/workflow-js.wasm"

[[http_server]]
name = "webhook_server"
listening_addr = "0.0.0.0:9090"

[[webhook_endpoint]]
name = "webhook"
location = "${OBELISK_TOML_DIR}/webhook/webhook-js/dist/webhook-js.wasm"
http_server = "webhook_server"
routes = [{ methods = ["POST", "GET"], route = "" }]
env_vars = [
    "GITHUB_WEBHOOK_SECRET",
    # "GITHUB_WEBHOOK_INSECURE=true" # to disable signature verification
]
