api.listening_addr = "127.0.0.1:5005"   # Address and port on which the API server will listen.
webui.listening_addr = "127.0.0.1:8080" # Address and port on which the webui will listen.

[log.console]
enabled = true

[[activity_wasm]]
name = "activity_llm_openai_go"
location = "${OBELISK_TOML_DIR}/activity/llm/openai-go/dist/openai-go.wasm"
exec.lock_expiry.seconds = 10
env_vars = ["OPENAI_API_KEY", "OPENAI_API_BASE_URL"]
forward_stdout = "stderr"
forward_stderr = "stderr"

[[activity_wasm]]
name = "activity_github_impl"
location = "${OBELISK_TOML_DIR}/target/wasm32-wasip2/release/activity_github_impl.wasm"
env_vars = ["GITHUB_TOKEN"]
exec.lock_expiry.seconds = 5
forward_stdout = "stderr"
forward_stderr = "stderr"

[[activity_wasm]]
name = "activity_db_turso"
location = "${OBELISK_TOML_DIR}/target/wasm32-wasip2/release/activity_db_turso.wasm"
env_vars = ["TURSO_TOKEN", "TURSO_LOCATION"]
forward_stdout = "stderr"
forward_stderr = "stderr"
exec.lock_expiry.seconds = 5

[[workflow]]
name = "workflow_go"
location = "${OBELISK_TOML_DIR}/workflow/stargazers/workflow-go/dist/workflow-go.wasm"
stub_wasi = true
[workflow.backtrace.sources]
"${OBELISK_TOML_DIR}/workflow/stargazers/workflow-go/main.go" =                                                    "${OBELISK_TOML_DIR}/workflow/stargazers/workflow-go/main.go"
"${OBELISK_TOML_DIR}/workflow/stargazers/workflow-go/gen/stargazers/workflow/workflow/workflow.wasm.go" =          "${OBELISK_TOML_DIR}/workflow/stargazers/workflow-go/gen/stargazers/workflow/workflow/workflow.wasm.go"
"${OBELISK_TOML_DIR}/workflow/stargazers/workflow-go/gen/stargazers/github-obelisk-ext/account/account.wit.go" =   "${OBELISK_TOML_DIR}/workflow/stargazers/workflow-go/gen/stargazers/github-obelisk-ext/account/account.wit.go"
"${OBELISK_TOML_DIR}/workflow/stargazers/workflow-go/gen/stargazers/db-obelisk-ext/llm/llm.wit.go" =               "${OBELISK_TOML_DIR}/workflow/stargazers/workflow-go/gen/stargazers/db-obelisk-ext/llm/llm.wit.go"

[[http_server]]
name = "webhook_server"
listening_addr = "0.0.0.0:9090"

[[webhook_endpoint]]
name = "webhook_go"
location = "${OBELISK_TOML_DIR}/webhook/webhook-go/dist/webhook-go.wasm"
http_server = "webhook_server"
routes = [{ methods = ["POST", "GET"], route = "" }]
env_vars = [
    "GITHUB_WEBHOOK_SECRET",
    # "GITHUB_WEBHOOK_INSECURE=true", # to disable signature verification
]
forward_stdout = "stderr"
forward_stderr = "stderr"
[webhook_endpoint.backtrace.sources]
"${OBELISK_TOML_DIR}/webhook/webhook-go/main.go" = "${OBELISK_TOML_DIR}/webhook/webhook-go/main.go"
