api.listening_addr = "127.0.0.1:5005"   # Address and port on which the API server will listen.
webui.listening_addr = "127.0.0.1:8080" # Address and port on which the webui will listen.

[log.stdout]
enabled = true

[[http_server]]
name = "webhook_server"
listening_addr = "0.0.0.0:9090"

[[activity_wasm]]
name = "activity_llm_openai"
location.oci = "docker.io/getobelisk/demo_stargazers_activity_llm_openai:2025-12-08@sha256:f50464f5bd26e6ebbbe1915f577f04cd67b49f94d2d2c8d5f3b3e8e4fda5b1e5"
exec.lock_expiry.seconds = 10
env_vars = ["OPENAI_API_KEY"]

[[activity_wasm]]
name = "activity_github_impl"
location.oci = "docker.io/getobelisk/demo_stargazers_activity_github_impl:2025-12-08@sha256:f281f3103883ea3bbc0130f5fdc00ae93eda27cd5a41829dbc1ad56e290478a3"
env_vars = ["GITHUB_TOKEN"]
exec.lock_expiry.seconds = 5

[[activity_wasm]]
name = "activity_db_turso"
location.oci = "docker.io/getobelisk/demo_stargazers_activity_db_turso:2025-12-08@sha256:cdad4f289abdc68e1d062f45a717478df2a7c3576940b00644d81bceeea94264"
env_vars = ["TURSO_TOKEN", "TURSO_LOCATION"]
exec.lock_expiry.seconds = 5

[[workflow]]
name = "workflow"
location.oci = "docker.io/getobelisk/demo_stargazers_workflow:2025-12-08@sha256:c8a9d14979978564692131f08d912db5fa20f7a8e4253490fae4cbcc7f6286b7"
backtrace.sources = { "/home/runner/work/demo-stargazers/demo-stargazers/workflow/stargazers/workflow-rs/src/lib.rs" = "${OBELISK_TOML_DIR}/workflow/stargazers/workflow-rs/src/lib.rs" }

[[webhook_endpoint]]
name = "webhook"
location.oci = "docker.io/getobelisk/demo_stargazers_webhook:2025-12-08@sha256:1c2a83322fcdf50078e804a8bef7b2ba1e6c56d77285ae2f55e091991bb964ac"
http_server = "webhook_server"
routes = [{ methods = ["POST", "GET"], route = "" }]
forward_stdout = "stderr"
forward_stderr = "stderr"
env_vars = [
    "GITHUB_WEBHOOK_SECRET",
    # "GITHUB_WEBHOOK_INSECURE=true" # to disable signature verification
]
backtrace.sources = { "/home/runner/work/demo-stargazers/demo-stargazers/webhook/webhook-rs/src/lib.rs" = "${OBELISK_TOML_DIR}/webhook/webhook-rs/src/lib.rs" }
