name: check-test-e2e
permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      ref:
        description: "The ref (branch or SHA) to process"
        required: false
        type: string

concurrency:
  group: global-singleton-e2e
  cancel-in-progress: false

defaults:
  run:
    shell: bash -xe {0}

jobs:
  check-e2e:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.ref }} # Use the ref if provided, otherwise defaults to the current branch/commit

      - uses: nixbuild/nix-quick-install-action@v34
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_conf: |
            extra-substituters = https://cache.garnix.io
            extra-trusted-public-keys = cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g
      - name: Populate the nix store
        run: |
          nix develop --command echo

      - name: Build Rust WASM components
        run: nix develop --command just rust

      - name: Verify obelisk-local.toml
        env:
          OPENAI_API_KEY: ${{ secrets.E2E_OPENAI_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.E2E_GITHUB_TOKEN }}
          TEST_GITHUB_LOGIN: ${{ secrets.TEST_GITHUB_LOGIN }}
          TURSO_TOKEN: ${{ secrets.E2E_TURSO_TOKEN }}
          TURSO_LOCATION: ${{ secrets.E2E_TURSO_LOCATION }}
        run: |
          nix develop --command ./scripts/test-e2e.sh ./obelisk-local.toml truncate

      - name: Verify obelisk-oci.toml
        env:
          OPENAI_API_KEY: ${{ secrets.E2E_OPENAI_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.E2E_GITHUB_TOKEN }}
          TEST_GITHUB_LOGIN: ${{ secrets.TEST_GITHUB_LOGIN }}
          TURSO_TOKEN: ${{ secrets.E2E_TURSO_TOKEN }}
          TURSO_LOCATION: ${{ secrets.E2E_TURSO_LOCATION }}
        run: |
          nix develop --command ./scripts/test-e2e.sh obelisk-oci.toml truncate

      - name: Build JavaScript WASM components
        run: nix develop --command ./scripts/build-components-js.sh

      - name: Verify obelisk-local-js-all.toml
        env:
          OPENAI_API_KEY: ${{ secrets.E2E_OPENAI_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.E2E_GITHUB_TOKEN }}
          TEST_GITHUB_LOGIN: ${{ secrets.TEST_GITHUB_LOGIN }}
          TURSO_TOKEN: ${{ secrets.E2E_TURSO_TOKEN }}
          TURSO_LOCATION: ${{ secrets.E2E_TURSO_LOCATION }}
        run: |
          nix develop --command ./scripts/test-e2e.sh ./obelisk-local-js-all.toml truncate

      - name: Build Go WASM components
        run: nix develop --command ./scripts/build-components-go.sh

      - name: Verify obelisk-local-go-all.toml
        env:
          OPENAI_API_KEY: ${{ secrets.E2E_OPENAI_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.E2E_GITHUB_TOKEN }}
          TEST_GITHUB_LOGIN: ${{ secrets.TEST_GITHUB_LOGIN }}
          TURSO_TOKEN: ${{ secrets.E2E_TURSO_TOKEN }}
          TURSO_LOCATION: ${{ secrets.E2E_TURSO_LOCATION }}
        run: |
          nix develop --command ./scripts/test-e2e.sh ./obelisk-local-go-all.toml truncate
