name: check-test-unit
permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      ref:
        description: "The ref (branch or SHA) to process"
        required: false
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -xe {0}

jobs:
  ci-unit:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.ref }} # Use the ref if provided, otherwise defaults to the current branch/commit

      - uses: nixbuild/nix-quick-install-action@v34
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_conf: |
            extra-substituters = https://cache.garnix.io
            extra-trusted-public-keys = cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g
      - name: Populate the nix store
        run: |
          nix develop --command echo

      - name: Run unit tests
        env:
          CI: true
        run: nix develop --command ./scripts/test-unit.sh --profile ${{ github.job }}

      - name: Upload test results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: junit-report
          path: target/nextest/${{ github.job }}/junit.xml

      - name: Report results in GitHub UI
        uses: dorny/test-reporter@7b7927aa7da8b82e81e755810cb51f39941a2cc7
        if: always()
        with:
          name: Rust tests
          path: target/nextest/${{ github.job }}/junit.xml
          reporter: java-junit
